body {
    background-color: #000000;
    margin: 0
}


/*menú*/

#menu {
    float: left;
    width: 20%;
    font-family: 'Bebas Neue', cursive;
}

.vertical-menu {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #000;
}

.vertical-menu a {
    color: #fff;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #04AA6D;
    color: white;
}


/*contenido*/

#contenido {
    background-color: #000000;
    height: 100vh;
    float: right;
    width: 80%;
}

h1 {
    margin: 0;
}

#parrafo1,
#parrafo2,
#parrafo3,
#parrafo4 {
    margin: 0;
    height: 25vh;
    font-family: 'Work Sans', sans-serif;
}

#parrafo1 {
    background-color: aqua;
}

#parrafo2 {
    background-color: yellow;
}

#parrafo3 {
    background-color: orange;
}

#parrafo4 {
    background-color: red;
}